*{ margin:0; padding: 0;}

.page{
  width: 100%;
  min-height: 100vh;

  background-color: #f2fffb;
  color: #333;

  font-family: 'Roboto', sans-serif;
}

.page__container{
  width: 80%;
  min-height: 100vh;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}


.DoW__month{
  
  width: 100%;
  text-align: center;
  
  font-size: 56px;
  font-weight: bold;
  padding: 40px 0;

}

.DoW__container{
  border-radius: 100px;
}

.DoW__row{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.date__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 16px 24px;

  font-size: 40px;
  font-weight: bold;
  
  position: relative;
}

.date__day{
  padding-bottom: 8px;
  font-size: 24px;
}

.date--selected{
  background-color: aquamarine;
  border-radius: 34px;
}

@media only screen and (max-width: 820px) {
  .DoW__month {
    text-align: left;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .page__container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}